<div>
    <p>
        Thank you for your participation in today’s experiment.
    </p>
    <p>
        Task {{ chosen_task }} was randomly chosen for payment.
    </p>
    <p>
        Your total earnings are: 
        
        <ul>
            <li>
                Show up fee: {{ participation_fee }}
            </li>
            <li>
                Task {{ chosen_task }}: {{ task2_payoff }}
            </li>
            {% if bonus %}
            <li>
                Task 1 bonus: {{ bonus }}
            </li>
            {% endif %}
        </ul>

        {{ participant.payoff_plus_participation_fee }}
    </p>
</div>