{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    End of experiment
{% endblock %}

{% block content %}

    <p>
        Unfortunately, because there were some ineligible participants in today's 
        session, we were not able to place you into a group with other 
        participants. We will pay you the show up fee, but we are not able to 
        accommodate you in the main experiment. If any future sessions of this 
        experiment become available, you are welcome to sign up and participate 
        then. Please send a chat message to the experimenter with the word "END".
    </p>

{% endblock %}
