{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>Task 1 - Instructions</h3>
        <p>
            In this task, you have been randomly matched with two unique individuals (no one else has
            been matched with either of these people) Participant A and Participant B. You, Participant
            A and Participant B will remain mutually anonymous.
        </p>
        <p>
            Participant A and Participant B are not present at the moment. Depending on your decision,
            we will invite one of them to a venue on campus next week. We will explain to the invited
            participants the procedure for the experiment you are doing now, so they understand the
            choices you made, and how their payment was determined.
        </p>
        <p>
            It is very important to us that you realise that the decision you make has real consequences
            for yourself, Participant A and Participant B.
        </p>
        <p>
            You need to make a decision about how to allocate some money between yourself and the
            other participants. The money has been initially allocated so that you receive $10,
            Participant A receives $10 and Participant B receives $0. You need to choose between two
            options (pictured below).
        </p>
        <ul>
            <li>
                <b>Option 1:</b> You keep the current allocations: you receive $10, Participant A receives $10 and
                Participant B receives $0
            </li>
            <li>
                <b>Option 2:</b> You can elect to take an extra $2 for yourself, in which case Participant A’s
                allocation will be reduced to $2. So, you will receive $12, Participant A will receive $2 and
                Participant B will receive $0.
            </li>
        </ul>
        <p>
            Note: We will only invite a participant to the venue next week if they are to receive some
            money as a result of your decision. If a participant will receive $0 as a result of your
            decision, we will not invite them to the venue, and they will never learn about the
            experiment.
        </p>
        <table class="simple_table">
            <tr>
                <th>You Choose</th>
                <th>You Receive</th>
                <th>Participant A Receives</th>
                <th>Participant B Receives</th>
            </tr>
            <tr>
                <td>Option 1</td>
                <td>$10</td>
                <td>$10</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Option 2</td>
                <td>$12</td>
                <td>$2</td>
                <td>$0</td>
            </tr>
        </table>
    </div>
</div>
