{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Task 2 - Instructions (continued)
        </h3>
        {% if session.config.knowledge %}
            {% if sorted_by %}
                {% if player.role == 'A' or player.role == 'B' %}
                    {% if sorted_by == 'birth_region' %}
                    <p>
                        You and participant {{ other_knowledge_player }} will now receive a message
                        about your regions of birth.
                    </p>
                    <p>
                        <strong>
                            Participant B and Participant C were born in {{ same_region }}. Participant A
                            was born in some other region.
                        </strong>
                    </p>
                    <p>
                        Participant C has not received the above message.
                    </p>
                    <p>
                       At the end of the session, Participant C will be given this message about
                       regions of birth.
                    </p>
                    {% elif sorted_by == 'pol_ideology' %}
                    <p>
                        You and participant {{ other_knowledge_player }} will now receive a message
                        about the political values of your group members.
                    </p>
                    <p>
                        <strong>
                            Participant B and Participant C have similar political values: they both
                            identified as relatively {{ same_ideology }}. Participant A has different
                            political values.
                        </strong>
                    </p>
                    <p>
                        Participant C has not received the above message.
                    </p>
                    <p>
                        At the end of the session, Participant C will be given this message
                        about political values.
                    </p>
                    {% endif %}
                {% else %}
                <p>
                    You will not receive information about the members of your group at this time.
                </p>
                {% endif %}
            {% else %}
            <p>
                You will not receive any information about the members of your group.
            </p>
            <p>
                All members of your group have received this message.
            </p>
            {% endif %}
        {% else %}
            {% if sorted_by %}
                {% if player.role == 'A' or player.role == 'B' %}
                    {% if sorted_by == 'birth_region' %}
                    <p>
                        You and participant {{ other_knowledge_player }} will now receive a message
                        about your regions of birth.
                    </p>
                    <p>
                        <strong>
                            Participant B and Participant C were born in the same region. Participant A was not.
                        </strong>
                    </p>
                    {% elif sorted_by == 'pol_ideology' %}
                    <p>
                        You and participant {{ other_knowledge_player }} will now receive a message
                        about the political values of your group members.
                    </p>
                    <p>
                        <strong>
                            Participant B and Participant C have similar political values. Participant A does not.
                        </strong>
                    </p>
                    {% endif %}
                    <p>
                        Participant C has not received the above message, and will never be informed about
                        the membership of the group.
                    </p>
                {% else %}
                <p>
                    You will not receive information about the members of your group.
                </p>
                {% endif %}
            {% else %}
            <p>
                You will not receive any information about the members of your group.
            </p>
            <p>
                All members of your group have received this message.
            </p>
            {% endif %}
        {% endif %}
    </div>
</div>