{% load otree static %}
<p>
    In the following figure we ask you to consider which of these pairs of circles best describes
    your relationship with {{ role }} in all questions that follow. In the figure "Other" serves as a
    placeholder for {{ role }}, that is, you should think of "Other" being {{ role }}. By
    selecting the appropriate number please indicate to what extent you and {{ role }} are
    connected.
</p>
<p>
    (Hover your mouse over each picture to see an enlarged version.)
</p>
<p>
    With regard to Participant {{ role }}, please choose the picture below best describes your relationship
</p>
<table class="rel-table">
    <tr>
        {% for path in img_paths %}
            <th class="self_other_img">
                <img src="{% static path %}" style="height: 4em;"/>
                <div class="lrg_img" style="display: none; position: fixed; z-index: 100; text-align: center">
                    <img src="{% static path %}" style="height: 17rem"/>
                </div>
            </th>
        {% endfor %}
    </tr>
    <tr>
        {% for choice in field %}
            <td>&nbsp{{ choice.tag }}</td>
        {% endfor %}
    </tr>
</table>