{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3 Decision
{% endblock %}

{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div  id="myModal" class="modal">   <!-- The Modal -->
        <div class="modal-content">
            <br>
            <div id="modalContent" class="w3-container"></div>
        </div>
    </div>

    <p>
        You have been selected to nominate a deduction policy.
    </p>

    {% formfield player.red_d_pts %}
    {% formfield player.green_d_pts %}

    <script>
        function fill_modal() {
            var red_d_pts = parseFloat(document.getElementById('id_red_d_pts').value);
            var green_d_pts = parseFloat(document.getElementById('id_green_d_pts').value);
            var cost_of_deduction = parseFloat(({{ group.num_red_pressed }}*red_d_pts + {{ group.num_green_not_pressed }}*green_d_pts)/2);
            var deduction_multiplier = parseFloat({{ Constants.deduction_multiplier }});

            var modal_content = `
                <p>
                    You are proposing to assign ${red_d_pts} deduction points to red button pressers and
                    ${green_d_pts} to any green button non-pressers. This proposal, if accepted by the
                    affected participant, will cost each of you ${cost_of_deduction} ECU and will have the
                    effect of reducing the red button pressersʼ earnings by ${deduction_multiplier*red_d_pts} ECU and the
                    green button non-pressersʼ earnings by ${deduction_multiplier*green_d_pts} ECU.
                </p>
                <p>Are you sure you wish to proceed?</p>
                <br><br>
                <div align="right">
                    <button class="otree-btn-next btn btn-primary">Yes</button>
                    <button type="button" class="otree-btn-next btn btn-primary"
                        onclick="document.getElementById('myModal').style.display='none';">Revise</button>
                </div>
            `;

            document.getElementById('modalContent').innerHTML = modal_content;
            document.getElementById('myModal').style.display='block';
        }
    </script>
    <button type="button" class="otree-btn-next btn btn-primary" onclick="fill_modal();">Next</button>

{% endblock %}
