<div>
  <ul>
    {{ if same_group_sort }}
      <li>
        In today's lab session, there is at least one other group where
        participants B and C are {{ same_group_sort }}. Considering the other
        groups that are {{ same_group_sort }}, but excluding your own group,
        what do you think is the most frequently chosen amount of deduction
        by participant B?

        <br>

        {{ with field_control=form.ee_a_group }}
          {{ with field_name="ee_a_group" }}
            <em>I think B's who are {{ same_group_sort }} will most frequently
                        choose to spend
                        {{ include "components/ECUFieldInput.html" }}
                        ECU on deductions from A.</em>
            {{ include "components/ECUFieldButton.html" }}
          {{ endwith }}
        {{ endwith }}
      </li>
    {{ endif }}

    <li>
      Considering everyone in the present lab session, but excluding
      your own group, what do you think is the most frequently chosen amount
      of deduction by participant B?

      <br>

      {{ with field_control=form.ee_a_session }}
        {{ with field_name="ee_a_session" }}
		<em>          I think B's in today's lab session will most frequently choose to
          spend
          {{ include "components/ECUFieldInput.html" }}
          ECU on deductions from A.
          {{ include "components/ECUFieldButton.html" }}
	  </em>        {{ endwith }}
      {{ endwith }}
    </li>

    <li>
      Please tell us how many ECU you think B <b>should</b> deduct from A? In
      other words, what do you think is the <b>socially appropriate</b>
      amount of ECU for B to deduct?

      <br>

	  <em>      {{ with field_control=form.ne_a }}
        {{ with field_name="ne_a" }}
          I think B should spend
          {{ include "components/ECUFieldInput.html" }}
          ECU on deductions from A.
          {{ include "components/ECUFieldButton.html" }}
        {{ endwith }}
      {{ endwith }}
	</em>    </li>
  </ul>

  <p>
    We also asked this question of participant B: </p>
	
	<p>(<strong>*</strong>) "How much do you think B
    <b>should</b> spend on deductions?"
  </p>

  <ul>
    {{ if same_group_sort }}
      <li>
        Considering every group where B and C are {{ same_group_sort }},
        but excluding your own group, what do you think is the most frequently
        given answer by B's to the starred (*) question?

        <br>

<em>        {{ with field_control=form.ne_a_b_group }}
          {{ with field_name="ne_a_b_group" }}
            I think the most frequent answer from B's who are
            {{ same_group_sort }} will be that B should spend
            {{ include "components/ECUFieldInput.html" }}
            ECU on deductions from A.
            {{ include "components/ECUFieldButton.html" }}
          {{ endwith }}
        {{ endwith }}
</em>      </li>
    {{ endif }}

    <li>
      Considering everyone in today's lab session, but excluding your
      own group, what do you think is the most frequently given answer by B's
      to the starred (*) question?

      <br>

<em>      {{ with field_control=form.ne_a_b_session }}
        {{ with field_name="ne_a_b_session" }}
          I think the most frequent answer from B's in today's session will be
          that B should spend
          {{ include "components/ECUFieldInput.html" }}
          ECU on deductions from A.
          {{ include "components/ECUFieldButton.html" }}
        {{ endwith }}
      {{ endwith }}
</em>    </li>
  </ul>

  <p>
    We also asked this question of participant C: </p>
	
	<p>(<strong>*</strong>) "How much do you think B
    <b>should</b> spend on deductions?”
  </p>

  <ul>
    {{ if session.config.rep_condition and same_group_sort }}
      <li>
        Considering every group where B and C are {{ same_group_sort }},
        but excluding your own group, what do you think is the most frequently
        given answer by C's to the starred (*) question?

        <br>

<em>        {{ with field_control=form.ne_a_c_group }}
          {{ with field_name="ne_a_c_group" }}
            I think the most frequent answer from C's who are
            {{ same_group_sort }} will be that B should spend
            {{ include "components/ECUFieldInput.html" }}
            ECU on deductions from A.
            {{ include "components/ECUFieldButton.html" }}
          {{ endwith }}
        {{ endwith }}
</em>      </li>
    {{ endif }}

    <li>
      Considering everyone in today's lab session, but excluding your
      own group, what do you think is the most frequently given answer by C's
      to the starred (*) question?

      <br>

<em>      {{ with field_control=form.ne_a_c_session }}
        {{ with field_name="ne_a_c_session" }}
          I think the most frequent answer from C's in today's session will be
          that B should spend
          {{ include "components/ECUFieldInput.html" }}
          ECU on deductions from A.
          {{ include "components/ECUFieldButton.html" }}
        {{ endwith }}
      {{ endwith }}
</em>    </li>
  </ul>
</div>
