{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions to Participants
{% endblock %}

{% block content %}

    <p>
        Thank you for coming. You have earned {{ session.config.participation_fee }} for showing up on time. The following
        instructions explain how you can earn additional money by participating in the
        experiment. It is therefore very important that you read these instructions carefully.
    </p>
    <p>
        <strong>
            Please do not communicate with the other participants during the experiment.
        </strong>
    </p>
    <p>
        If you have a question at any time, please raise your hand and the monitor will come to
        your desk to answer it. When you ask a question, please make sure to speak softly so as
        not to disturb the other participants.
    </p>
    <p>
        Today's experiment involves a number of tasks. In each task, you will be endowed with a
        number of points called ECU (experimental currency units). Each ECU is worth
        {% widthratio session.config.real_world_currency_per_point 1 100 %} cents.
    </p>
    <p>
        At the end of the experiment, we will explain how many ECU you earned in each task.
    </p>
    <p>
        At the end of the overall experiment, we will randomly select <b>one task</b> to be paid.
        So your final payment today will be $10 for showing up, plus whatever you earned in one of
        the tasks, chosen at random.
    </p>

{% endblock %}
