{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Task 1 - Instructions
        </h3>
        <p>
            In this task, you will interact in a group of {{ Constants.players_per_group }} participants.
            Each participant will be identified using the letters A, B, and C. You will retain this identifier
            for the whole of Task 1.
        </p>
        <p>
            You may now receive some information about the membership of your group.
        </p>
    </div>
</div>