{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 1 - Instructions
        </h3>
        <ul>
            <li>
                In this task, you will interact with one other person in the room, chosen at random.
            </li>
            <li>
                Each participant is assigned to either Role A or Role B.
            </li>
            <li>
                Each participant has been allocated 6 points. At the end of the experiment, any points you earn will
                be converted to money, at the rate of $2 per point.
            </li>
            <li>
                The participant in role A may propose a new allocation of the points between the two parties, in
                whole dollar amounts. For example, Participant A can propose that he/she receives 10 points and
                Participant B receives 2 points. The new allocation must add up to 12 points.
            </li>
            <li>
                The participant in role B may either accept or reject the allocation proposed by Participant A.
            </li>
            <li>
                If Participant B accepts, the new allocation of points will apply.
            </li>
            <li>
                If Participant B rejects, then both players will be awarded zero points.
            </li>
        </ul>
        <p>
            Note, Participant B will be asked to enter his/her decisions in advance – indicating for each possible
            allocation whether or not it will be accepted or rejected. We will then calculate the outcome using the
            answer that is relevant, given Participant Aʼs actual choice.
        </p>
    </div>
</div>
