{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 4
{% endblock %}

{% block content %}

    {% include "InlineFieldsStyle.html" %}
    <p>
        Please answer the following questions:
    </p>

    <ul>
        <li>
            I identify as:
            {% formfield player.q1 label="" %}
        </li>
        <li>
            Major:
            {% formfield player.q2 label="" %}
        </li>
        <li>
            Country I was born in: {{ form.q3 }}
        </li>
        <li>
            I have been living in Australia for {{ form.q4 }} year(s)
        </li>
        <li>
            Religious Affiliation:
            {% formfield player.q5 label="" %}
        </li>
    </ul>
    {% next_button %}
{% endblock %}


