{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Stage 3: Deduction points
        </h3>

        <p>
            In stage 3, <b>the two participants who did not get an opportunity to press either type
            of button</b> have the option of supporting a policy of deducting points from participants
            who behaved in particular ways at Stages 1 and 2.
        </p>
        <p>
            One of these participants will be the person who had 120 ECU deducted when the red
            button was pressed (and restored again if a green button was pressed). The other
            participant will have been unaffected by the earlier stages. We will refer to these
            participants as the <i>button-affected participant</i> and the <i>unaffected participant.</i>
        </p>
        <p>
            Deduction points will be determined each round on the basis of a collective decision.
        </p>
        <p>
            The unaffected participant will be asked two questions:
        </p>
        <ul>
            <li>
                How many deduction points do you wish to assign to the red button presser?
            </li>
            <li>
                How many deduction points do you wish to assign to each green button non-presser
                (if there was one)?
            </li>
        </ul>
        <p>
            The button-affected participant will then be asked whether he/she agrees to the other
            participantʼs proposal. If the button-affected participant agrees, the proposal will be
            enacted.
        </p>
        <p>
            <i>Assigning</i> a deduction point to an individual costs 1 ECU, and this cost is shared equally
            between both the button-affected participant and the unaffected participant.
        </p>
        <p>
            Each deduction point <i>assigned</i> to an individual will have the effect of reducing that
            individualʼs endowment by 3 ECU.
        </p>
        <p>
            The maximum number of deduction points that can be assigned, in total, on each round,
            is 30.
        </p>
        <p>
            For instance, continuing the example above, the two participants who have the
            opportunity to support a deduction policy are A and E, because C had the opportunity to
            press the red button, and B and D had the opportunity to press the green button.
            Suppose C has pressed the red button, and both B and D have refused to press the
            green button, then the endowments will be:
        </p>
        <table cellpadding="10" border="1">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
            </tr>
            <tr>
                <td>80</td>
                <td>240</td>
                <td>240</td>
                <td>240</td>
                <td>200</td>
            </tr>
        </table>
        </br>
        <p>
            Imagine E proposes that 6 deduction points be assigned to the red presser, and 10
            points assigned to each green non-presser. If A agrees to this proposal, then this policy
            will cost A and E a total of 6 + (10 x 2) = 26 ECU. This cost is shared between A and E,
            so will cost them 13 ECU each.
        </p>
        <p>
            This policy will have the effect of reducing the earnings of C by 18 ECU, and the earnings
            of B and D by 30 ECU each. So the final outcome will be:
        </p>
        <table cellpadding="10" border="1">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
            </tr>
            <tr>
                <td>67</td>
                <td>210</td>
                <td>222</td>
                <td>210</td>
                <td>187</td>
            </tr>
        </table>
        </br>
        <p>
            If A rejected Eʼs proposal, then no deduction would occur, and the endowments would be
            unchanged.
        </p>

    </div>
</div>