{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 5 - Conceal Decision
{% endblock %}

{% block content %}

    {% if treatment == 1 %}
        <p>
            It has been randomly determined that you may definitely conceal
            {{ num_random_conceal }} of your answers from the other player,
            and that {{ num_to_reveal }} of the remaining answers will be revealed.
        </p>
        <p>
            You entered {{ num_chosen }} items to be possibly concealed.
        </p>
        <p>
            We will conceal the first {{ num_to_conceal }} items from your list
            entered on the previous screen.
        </p>
    {% elif treatment == 2 %}
        <p>
            It has been randomly determined that none of your answers will be
            revealed. Your partner’s answers will not be revealed either.
        </p>
    {% else %}
        ERROR: incorrect treatment
    {% endif %}

    {% next_button %}

{% endblock %}
