{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3 Feedback
{% endblock %}

{% block content %}

    <p>
        You are participant {{ player.p_id }}, initial endowments were:
        <table cellpadding="10" border="1" style="text-align:center;">
            <tr>
                {% for p in initial_payoffs %}
                    <th>{{ p.id }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for p in initial_payoffs %}
                    <td>{{ p.payoff }}</td>
                {% endfor %}
            </tr>
        </table>
    </p>

    <p>
        The round has been completed.
    </p>

    <h4>Stage 1 Feedback</h4>
    <p>
        Your initial endowment was {{ player.initial_ECU }} ECU
    </p>
    <p>
        Participant {{ red_presser }} was chosen to have the opportunity to press the red button
    </p>
    <p>
        Participant {{ red_presser }} {{ red_pressed }} to press.
    </p>
    <p>
        Participant {{ affected }} was chosen to be the button affected individual.
    </p>
    <p>
        Your earnings at the end of stage 1 are therefore: {{ player.stage1_ECU }} ECU
    </p>
    {% if red_pressed == "declined" %}
        <p>
            The round is therefore over.
        </p>
    {% else %}
        <h4>Stage 2 Feedback</h4>
        <p>
            Participants {{ green_presser1 }} and {{ green_presser2 }} were chosen to have the opportunity to
            press the green button.
        </p>
        {% if p_not_pressed_green != "" %}
            <p>
                {{ p_not_pressed_green }} declined to press the green button.
            </p>
        {% endif %}
        {% if p_pressed_green != "" %}
            <p>
                {{ p_pressed_green }} chose to press the green button.
            </p>
        {% endif %}
        <p>
            Your earnings at the end of the stage are therefore {{ player.stage2_ECU }} ECU
        </p>

        <h4>Stage 3 Feedback</h4>
        {% if red_d_pts == 0 and green_d_pts == 0 %}
            <p>
                The unaffected participant ({{ unaff_id }}) did not propose to assign any deduction points. Your earnings are
                therefore: {{ player.stage3_ECU }} ECU.
            </p>
        {% else %}
            <p>
                The unaffected participant ({{ unaff_id }}) proposed to assign {{ red_d_pts }} deduction points to red button
                pressers and {{ green_d_pts }} to any green button non-pressers. This proposal was
                {{ accepted_deduction }} by the button-affected participant. Your earnings are therefore:
                {{ player.stage3_ECU }} ECU.
            </p>
        {% endif %}
    {% endif %}

    <p>
        Final endowments are:
        <table cellpadding="10" border="1" style="text-align:center;">
            <tr>
                {% for p in final_payoffs %}
                    <th>{{ p.id }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for p in final_payoffs %}
                    <td>{{ p.payoff }}</td>
                {% endfor %}
            </tr>
        </table>
    </p>

    {% next_button %}

{% endblock %}
