{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey
{% endblock %}

{% block content %}

    <ol>
        <li>{% formfield player.area_of_study %}</li>
        <li>
            {% formfield player.supporting_competition %}
            {% formfield player.supporting_team %}
        </li>
        <li>{% formfield player.num_experiments %}</li>
        <li>{% formfield player.gender %}</li>

        {% if player.pi_class %}
        <li>
            In Task 1, you were classified as relatively {{ player.pi_class }}. Do you agree with this classification?
            {% with form.pi_classification as field %}
            {% include 'ds/LikertTable.html' %}
            {% endwith %}
        </li>
        {% endif %}
        <br>

        <li>
            {% with field=form.similarity1 role=rel_ques_roles.0 %}
            {% include 'ds/RelQuestion.html' %}
            {% endwith %}
        </li>
        <li>
            {% with field=form.similarity2 role=rel_ques_roles.1 %}
            {% include 'ds/RelQuestion.html' %}
            {% endwith %}
        </li>

        {% if player.role == 'A' and not session.config.deterrence %}
        <li>
            Participants B and C were from the same group. Please indicate below how likely you think it is that
            they came from each of the regions listed below.
            <ul>
                {% with form.BC_from_China as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.BC_from_Malaysia as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.BC_from_Australia as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.BC_from_Singapore as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.BC_from_India as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.BC_from_Hong_Kong as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
            </ul>
        </li>
        {% endif %}

        {% if player.role == 'B' or player.role == 'C' %}
        <li>
            Please indicate how likely you think it is that Participant A came from each of the regions listed below:
            <ul>
                {% with form.A_from_China as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.A_from_Malaysia as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.A_from_Australia as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.A_from_Singapore as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.A_from_India as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
                {% with form.A_from_Hong_Kong as field %}
                <li>{% include 'ds/LikertTable.html' %}</li>
                {% endwith %}
            </ul>
        </li>
        {% endif %}

        <li>{% formfield player.retaliate_def %}</li>
        <li>{% formfield player.retaliate_type %}</li>
        <li>{% formfield player.retaliate_beh %}</li>
    </ol>
    {% next_button %}
{% endblock %}

{% block scripts %}
    <script>
        $('.self_other_img').hover(function (e) {
            $(this).find('.lrg_img').css({'display':'fixed', 'bottom': '1%', 'right': '1%'}).toggle();
        });
    </script>
{% endblock %}
