{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 4
{% endblock %}

{% block styles %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            margin-top: 5px;
        }
        td {
            border: 1px solid #cccccc;
            text-align: center;
        }
        .table_fields {
            background-color: #eeeeee;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        Please read the following list of statements and indicate how much you agree
        or disagree with each statement:
    </p>

    <ul>
        {% for field in form %}
            <li>
                {{ field.label }}
                <table cellpadding="7">
                    <tr>
                        {% for choice in field %}
                            <td>&nbsp{{ choice.choice_label }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for choice in field %}
                            <td class="table_fields">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ choice.tag }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <br>
            </li>
        {% endfor %}
    </ul>

    {% next_button %}

{% endblock %}


