{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Stage 1: The red button
        </h3>

        <p>
            Two of the five members of your group will be randomly selected to have the opportunity
            to press a red button.
        </p>
        <p>
            If both participants choose to press their red buttons, it will have two effects:
        </p>
        <ul>
            <li>
                Both participants who press the red buttons will earn an additional 40 ECU.
            </li>
            <li>
                One other person in the group, chosen at random, will lose 120 ECU from their
                endowment.
            </li>
        </ul>
        <p>
            To illustrate, suppose that persons C and E are chosen at random to have the
            opportunity to press the red button, and person A is the person who will be affected if
            the red button is pressed.
        </p>
        <p>
            If either C or E does not press their button, or if neither of them does, then everyone
            will earn 200 ECU in this round.
        </p>
        <p>
            If both C and E press the button, the endowments will become:
        </p>
        <table cellpadding="10" border="1">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
            </tr>
            <tr>
                <td>80</td>
                <td>200</td>
                <td>240</td>
                <td>200</td>
                <td>240</td>
            </tr>
        </table>
        </br>
        <p>
            If neither C nor E presses their red button, the round is over and you will start a new
            round.
        </p>
        <p>
            If either C or E presses the button, the round enters an additional stage.
        </p>

    </div>
</div>
