{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 1 - Instructions
        </h3>

        <p>
            In this task, you will interact with one other person in the room, chosen at random.
        </p>
        <p>
            The task will have six rounds. Each participant starts the task with 12 points. At the end of the
            task, any points you have earned will be converted to dollars, at the rate of 1 point per dollar.
        </p>
        <p>
            Each participant is assigned to either Role 1 or Role 2. Participants retain the same role
            throughout the task.
        </p>
        <p>
            Each Round, each participant is given 1 additional point. Participant 1 may then choose
            whether to challenge Participant 2 for his or her additional point.
        </p>
        <p>
            If Participant 1 does not challenge, both players keep their additional point, and the next round
            begins.
        </p>
        <p>
            If Participant 1 <b>CHALLENGES</b>, Participant 2 may then choose whether to <b>RETALIATE</b> or <b>DEFER</b>.
            <ul>
                <li>
                    If Participant 2 <b>DEFERS</b>, then Participant 1 takes the extra point from Participant 2, so
                    Participant 1 earns 2 points, and Participant 2 earns 0 points.
                </li>
                <li>
                    If Participant 2 <b>RETALIATES</b>, both players will lose 2 points.
                </li>
            </ul>
        </p>

    </div>
</div>
