{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    End of experiment
{% endblock %}

{% block content %}<div>
    <p>
        Thank you for your participation in today’s experiment.
    </p>
    <p>
        Task {{ chosen_task }} was randomly chosen for payment.
    </p>
		<strong>If B & chosen_task is 2, then "You [did/did not] correctly guess C's reaction in the chosen task."</strong>
		<strong>If C & chosen_task is 1, then "You [did/did not] correctly guess B's reaction in the chosen task."</strong>
    <p>
        Your total earnings are: 
        
        <ul>
            <li>
                Show up fee: {{ participation_fee }}
            </li>
            {% if survey_bonus != None %}
            <li>
                Survey Task: {{ survey_bonus }}
            </li>
            {% endif %}
            <li>
                Task {{ chosen_task }}: {{ task2_payoff }}
            </li>
            {% if bonus != None %}
            <li>
                Task {{ chosen_task }} bonus: {{ bonus }}
            </li>
            {% endif %}
        </ul>

        Total: {{ participant.payoff_plus_participation_fee }}
    </p>
      <p>
          The experimenter will distribute a receipt for you to
          sign. Please fill in your <strong>total earnings</strong> and <em>sign</em> your
          receipt. Then quietly pack up your things and leave, dropping
          your receipt with the experimenter on the way out.
      </p>
		<p>
			If you wish to keep a copy of your receipt, please feel free to 
			take a photograph of it before you leave.
		</p>
      <p>
          Your participant ID is: <strong>{{ participant.code }}</strong>
        </p>
	<p>
<strong>		Click here to hide your payment info
</strong>	</p>
{% endblock %}
