{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 1 - Instructions
        </h3>

        <style type="text/css">
            table {
                border-collapse: collapse;
                width: 100%;
                table-layout: fixed;
            }
            th {
                border: 1px solid #dddddd;
                background-color: #dddddd;
            }
            td {
                border: 1px solid #dddddd;
            }
        </style>

        <p>
            In this task, you have been randomly matched with two unique individuals (no one else has
            been matched with either of these people) Participant A and Participant B. You, Participant
            A and Participant B will remain mutually anonymous.
        </p>

        <p>
            Participant A and Participant B are not present at the moment. We will invite them to a venue on campus
            next week. We will explain to all these participants the procedure for the experiment you are doing now,
            so they understand the choices you made, and how their payment was determined.

        </p>

        <p>
            If you wish to check on our procedure, you may come to the venue next week to observe the process and confirm
            that we make these payments as promised. It is very important to us that you realise that the decision you make
            has real consequences for yourself, Participant A and Participant B.
        </p>

        <p>
            You need to make a decision about how to allocate some money between yourself and the other participants. The
            money has been initially allocated so that both of you receive $10, Participant A receives $10 and Participant
            B receives $0. You need to choose between two options (pictured below).
        </p>

        <p>
            <b>Option 1</b>: You keep the current allocations: you receive $10, Participant A received $10 and Participant
            B receives $0
        </p>

        <p>
            <b>Option 2</b>: You can elect to take an extra $2 for yourself, in which case Participant A's allocation
            will be reduced to $0 and Participant B will receive $2. So, you will receive $12, Participant A will
            receive $0 and Participant B will receive $2.
        </p>

        <p>
            Note: Based on your choice, we will invite either Participant A or Participant B to the venue next week. If
            you choose Option 1, then Participant B <b>will not be invited</b> to the venue next week and <b>will have no knowledge
            about the experiment</b>. If you choose Option 2, then Participant A <b>will not be invited</b> to the venue, and <b>will
            have no knowledge about the experiment</b>.
        </p>

        <table cellpadding="10">
            <tr>
                <th>You Choose</th>
                <th>You Receive</th>
                <th>Participant A Receives</th>
                <th>Participant B Receives</th>
            </tr>
            <tr>
                <td>Option 1</td>
                <td>$10</td>
                <td>$10</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Option 2</td>
                <td>$12</td>
                <td>$0</td>
                <td>$2</td>
            </tr>
        </table>

    </div>
</div>


