{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <style type="text/css">
            table {
                border-collapse: collapse;
                width: 100%;
                table-layout: fixed;
            }
            th {
                border: 1px solid #dddddd;
                background-color: #dddddd;
            }
            td {
                border: 1px solid #dddddd;
            }
        </style>

        <h3>
            Task 2 - Part C Instructions
        </h3>

        <p>
            In this task you are still matched with the same individual as the previous two tasks (Task 2 - Part A and
            Task 2 - Part B).
        </p>

        <p>
            If this task is not the one chosen for payment, we will never advise the person you have been matched
            with about this task, and they will not know anything about your decisions in this task.
        </p>

        <p>
            In this task you have two options:
        </p>

        <p>
            <b>Option 1</b>: You receive $10 while the other participant receives $2.
        </p>

        <p>
            <b>Option 2</b>: You receive $12 while the other participant receives $10.
        </p>

        <table cellpadding="10">
            <tr>
                <th>You Choose</th>
                <th>You Receive</th>
                <th>Other Participant Receives</th>
            </tr>
            <tr>
                <td>Option 1</td>
                <td>$10</td>
                <td>$2</td>
            </tr>
            <tr>
                <td>Option 2</td>
                <td>$12</td>
                <td>$10</td>
            </tr>
        </table>

    </div>
</div>


