{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Group Identity Message for C
{% endblock %}

{% block content %}
    {% include 'task2/components/Header.html' %}
    <br><br>

    {% if player.role == 'A' or player.role == 'B' %}
    <p>
        C is now receiving the message below:
    </p>
    {% else %}
    <p>
        This information was given to A and B at the beginning of the experiment
    </p>
    {% endif %}

    <div class="card bg-light instructions">
        <div class="card-body">
            {% include 'task2/components/BrPiInfo.html' %}
        </div>
    </div>
    {% next_button %}
{% endblock %}


