{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if subsession.round_number == 1 %}
    Task 1a Commencement
    {% else %}
    Task 1b Commencement
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'task2/Header.html' %}

    {% if subsession.round_number == 1 %}
    <p>
        You will now begin Task 1a.
    </p>
    {% else %}
    <p>
        You will now begin Task 1b. You are in the same group as you were for Task 1a.
    </p>
    {% endif %}

{% endblock %}


