{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task {{ subsession.round_number }} Intermission
{% endblock %}

{% block content %}
    {% include 'task2/components/Header.html' %}
    {% include 'task2/components/CalculateModal.html' %}
    <br />

    {% if subsession.round_number == 1 %}
    <p>
        While you are waiting for {{ subsession.taking_player }} and 
        {{ subsession.deducting_player }} to finish their decisions in Task 1, please 
        answer the following questions.
	</p>
    <ul>
        <!-- <li>
            <p>
                Please tell us whether you think B will deduct some ECU from
                {{ subsession.taking_player }} if {{ subsession.taking_player }}
                chooses to take {{ subsession.deducting_player }}’s 100 ECU. If so,
                how many ECU?
            </p>
            <p>
                (We will compare your answer with the actual decision
                {{ subsession.deducting_player }} makes and you will earn an additional
                10 ECU if your guess is correct)
            </p>
            <p>
                I guess {{ subsession.deducting_player }} will spend
                <input type="number" id="will_spend_field" class="form-control"
                    style="display: inline"
                    onkeypress="handle_enter">
                <input type="hidden" name="will_spend" />
                ECU on deductions from A.
            </p>
            <div style="color:red">{{ form.will_spend.errors }}</div>
            <br />
            <button type="button" class="otree-btn-next btn btn-primary"
                style="margin: -5px 0 0 0.25rem;"
                onclick="handleCalculate('will_spend_field');">
                Calculate
            </button>
        </li> -->
        <li>      
            <p>
                Please tell us whether you think {{ subsession.deducting_player }} 
                should deduct some ECU from {{ subsession.taking_player }} if 
                {{ subsession.taking_player }} chooses to take 
                {{ subsession.deducting_player }}’s 100 ECU. In other words, is it 
                <strong>socially appropriate</strong> for {{ subsession.deducting_player }} to deduct 
                ECU from {{ subsession.taking_player }}? If so, how many ECU?
            </p>
            <p>
                If you think it is not appropriate to deduct from 
                {{ subsession.taking_player }}, then please enter zero.
            </p>
			<p>
					<strong>Note:</strong> During Task 2, we will ask Player B
					the same question. If you both give the same answer, we will pay you a
					bonus of 10 ECU.
			</p>
			<p> I guess {{ subsession.deducting_player }} will spend
            <input type="number" id="will_spend_field" class="form-control"
                style="display: inline"
                onkeypress="handle_enter">
            <input type="hidden" name="will_spend" />
            ECU on deductions from A.
			</p>
		</li>
		<li>
			<p> 
            <p>
                I think {{ subsession.deducting_player }} should spend 
                <input type="number" id="should_spend_field" class="form-control" 
                    style="display: inline"
                    onkeypress="handle_enter"> 
                <input type="hidden" name="should_spend" />
                ECU on deductions from {{ subsession.taking_player }}. 
            </p>
            <div style="color:red">{{ form.should_spend.errors }}</div>
            <br />
            <button type="button" class="otree-btn-next btn btn-primary" 
                style="margin: -5px 0 0 0.25rem;"
                onclick="handleCalculate('should_spend_field');">
                Calculate
            </button>
        </li>       
    </ul>
	<p>
			(You will need to press 'Calculate' for each input
			        in order to progress.)

	</p>
    {% else %}
    <p>
        While you are waiting for {{ subsession.taking_player }} and 
        {{ subsession.deducting_player }} to finish their decisions in Task 2, please 
        answer the following questions.
    </p>

    <ul>
        <li>
            <p>
                Please tell us whether you think {{ subsession.deducting_player }}
                <strong>will deduct</strong> some ECU from {{ subsession.taking_player }} if 
                {{ subsession.taking_player }} chooses to take {{ subsession.deducting_player }}’s 100 
                ECU. If so, how many ECU? (If you think they won't deduct, enter zero.)"</i>
            </p>
			<p>
				If you guess correctly, we will pay you a bonus of 10 ECU.
			</p>
			<p> I guess {{ subsession.deducting_player }} will spend
            <input type="number" id="will_spend_field" class="form-control"
                style="display: inline"
                onkeypress="handle_enter">
            <input type="hidden" name="will_spend" />
            ECU on deductions from A.
			</p>
            <div style="color:red">{{ form.will_spend_guess.errors }}</div>
            <br />
            <button type="button" class="otree-btn-next btn btn-primary" 
                style="margin: -5px 0 0 0.25rem;"
                onclick="handleCalculate('will_spend_guess_field');">
                Calculate
            </button>
        </li>
    
        <li>
              <p>  
				  Please tell us whether you think {{ subsession.deducting_player }} 
                should deduct some ECU from {{ subsession.taking_player }} if 
                {{ subsession.taking_player }} chooses to take 
                {{ subsession.deducting_player }}’s 100 ECU. In other words, is it 
                <strong>socially appropriate</strong> for {{ subsession.deducting_player }} to deduct 
                ECU from {{ subsession.taking_player }}? If so, how many ECU?
            </p>
            <p>
                If you think it is not appropriate to deduct from 
                {{ subsession.taking_player }}, then please enter zero.
            </p>
			<p>
					<strong>Note:</strong> During Task 1, we  asked Player C
					the same question. If you both give the same answer, we will pay you a
					bonus of 10 ECU.
			</p>

            <p>
                I think {{ subsession.deducting_player }} should spend 
                <input type="number" id="should_spend_field" class="form-control" 
                    style="display: inline"
                    onkeypress="handle_enter"> 
                <input type="hidden" name="should_spend" />
                ECU on deductions from {{ subsession.taking_player }}. 
            </p>
            <div style="color:red">{{ form.should_spend.errors }}</div>
            <br />
            <button type="button" class="otree-btn-next btn btn-primary" 
                style="margin: -5px 0 0 0.25rem;"
                onclick="handleCalculate('should_spend_field');">
                Calculate
            </button>
        </li>
    </ul>
	
	<p>
		(You will need to press 'Calculate' for each input
		        in order to progress.)
	</p>
    {% endif %}
    
    {% next_button %}
{% endblock %}

{% block scripts %}
    <script>
        function handle_enter(event) {
            if (event.keyCode == 13 || event.which == 13) {
                return false;
            }
        }
        function handleCalculate(field) {
            var deductECU = parseFloat($('#'+field).val());
            
            const validInput = setModalContents(deductECU);
            
            if (validInput) {
                const name = field.replace('_field', '');
                $('input[name ="'+name+'"]').val(deductECU);
            }
        }
    </script>
{% endblock %}


