{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 3 - Part B Instructions
        </h3>

        <p>
            You will be presented with each of the statements you accepted in Part A.
        </p>

        <p>
            For each statement, you will be asked whether you wish to enter a bid between $1 and $100, for which you
            would be willing to <b>accept the opposite statement</b>.
        </p>

        <p>
            If you do not wish to enter a bid, type "out".
        </p>

        <p>
            After all your bids are entered, we will select one statement at random, and generate a random
            number between 1–100.
        </p>

        <ul>
            <li>
                If the number generated is <b>greater than or equal</b> to your bid for that statement, we will pay you
                the randomly generated number (in dollars) in exchange for changing your statement.
            </li>
            <li>
                If the number is <b>less than</b> your bid, or if you opted out, we will pay you nothing, and your statement will
                be unchanged.
            </li>
        </ul>

        <p>
            <i>So for example:</i> if we roll 93, and you nominated $80, we will pay you $93 to accept the opposite statement. If
            we roll 74, the number will be below your nominated price, so you will be paid nothing, and you won’t change
            which statement you accept.
        </p>

        <p>
            At the end of the Task, we will ask you to sign a printed copy of the statement you have accepted, as a condition
            of payment.
        </p>

    </div>
</div>
