{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

        <style>
            td, th {
                border: 1px solid #cccccc;
                text-align: center;
            }

            td:not(:first-child) {
                background-color: #eeeeee;
            }
        </style>

        <h3>
            Earlier Experiment Instructions
        </h3>

        <p>
            In this task, you [Individual X] have been randomly matched with two unique individuals (no one else
            has been matched with either of these people) Participant A and Participant B. You, Participant A and
            Participant B will remain mutually anonymous.
        </p>

        <p>
            Participant A and Participant B are not present at the moment. We will invite them to a venue on
            campus next week. We will explain to all these participants the procedure for the experiment you are
            doing now, so they understand the choices you made, and how their payment was determined.
        </p>

        <p>
            If you wish to check on our procedure, you may come to the venue next week to observe the process
            and confirm that we make these payments as promised. It is very important to us that you realise
            that the decision you make has real consequences for yourself, Participant A and Participant B.
        </p>

        <p>
            You need to make a decision about how to allocate some money between yourself and the other
            participants. The money has been initially allocated so that you receive $10, Participant A receives
            $10 and Participant B receives $0. You need to choose between two options (pictured below).
        </p>

        <p>
            Option 1: You keep the current allocations: you receive $10, Participant A received $10 and
            Participant B receives $0
        </p>

        <p>
            Option 2: You can elect to take an extra $2 for yourself, in which case Participant A’s allocation will
            be reduced to $0 and Participant B will receive $2. So, you will receive $12, Participant A will receive
            $0 and Participant B will receive $2.
        </p>

        <p>
            Note: Based on your choice, we will invite either Participant A or Participant B to the venue next
            week. If you Choose Option 1, then Participant B will not be invited to the venue next week and will
            have no knowledge about the experiment. If you choose Option 2, then Participant A will not be
            invited to the venue, and will have no knowledge about the experiment.
        </p>

        <table cellpadding="10" border="1">
            <tr>
                <th>You Choose</th>
                <th>You Receive</th>
                <th>Participant A Receives</th>
                <th>Participant B Receives</th>
            </tr>
            <tr>
                <td>Option 1</td>
                <td>$10</td>
                <td>$10</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Option 2</td>
                <td>$12</td>
                <td>$0</td>
                <td>$2</td>
            </tr>
        </table>

    </div>
</div>