{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 2 - Instructions
        </h3>

        <p>
            In this task, you will interact with one other person in the room, chosen at random. This person will
            definitely <i>NOT</i> be the same person you interacted with in any of the earlier tasks.
        </p>
        <p>
            One participant will be chosen to play Role 1 and the other will be chosen to play
            Role 2. The task will have six rounds. You will play the same role for all six rounds.
        </p>
        <p>
            At the end of the task, any points you have earned will be converted to dollars, at
            the rate of 1 point per dollar. You will be paid your earnings for all rounds.
        </p>
        <p>
            In each round, the Role 1 participant is given 2 points. The Role 1 participant may
            decide to keep all those points, or send some or all of them to the Role 2 participant.
        </p>
        <p>
            Every point sent to the Role 2 participant will then be multiplied by three.
        </p>
        <p>
            After Participant 1 has made his or her decision, the points are multiplied, and
            Participant 2 can choose to send any amount (including none or all) of the multiplied points
            back to Participant 1.
        </p>

    </div>
</div>
