{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 1 - Instructions
        </h3>
        <p>
            In this task, you will interact with one other person in the room, chosen at random.
        </p>
        <p>
            One participant will be chosen to play Role A and the other will be chosen to play Role B.
        </p>
        <p>
            At the end of the task, any points you have earned will be converted to dollars, at the rate of $2 per point.
        </p>
        <p>
            At the beginning of the task, the Role A participant is given 4 points. The Role A participant may decide
            to keep all those points, or send some or all of them to the Role 2 participant.
        </p>
        <p>
            Every point sent to the Role 2 participant will then be multiplied by three.
        </p>
        <p>
            After Participant A has made his or her decision, the points are multiplied, and Participant B can choose
            to send some of the multiplied points back to Participant A.
        </p>
        <p>
            Participant B can send back all of the points, none of the points, or any amount in between.
        </p>
        <p>
            Note, Participant B will be asked to enter his/her decisions in advance – indicating for each possible
            amount transferred, how much he/she will send back. We will then calculate the outcome using the
            answer that is relevant, given Participant Aʼs actual choice.
        </p>
    </div>
</div>
