{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 3 Decision
{% endblock %}

{% block content %}

    {% if r_deduction_pts == 0 and g_deduction_pts == 0 %}
        <p>
            The unaffected participant has not proposed to assign any deduction points.
        </p>
        {% next_button %}
    {% else %}
        <p>
            The unaffected participant has proposed to assign {{ r_deduction_pts }} deduction points to red button
            pressers and {{ g_deduction_pts }} to any green button non-pressers. This proposal, if accepted by you, will
            cost each of you {{ cost_to_deductor }} ECU and will have the effect of reducing the red
            button presserʼs earnings by {{ r_deduction_pts_x3 }} ECU and the green button non-pressersʼ earnings by
            {{ g_deduction_pts_x3 }} ECU.
        </p>
        <p>
            Do you accept this proposal?
        </p>
        <div>
            <button name="deduction_accepted" value="True" class="btn btn-primary btn-large">Yes</button>
            <button name="deduction_accepted" value="False" class="btn btn-primary btn-large">No</button>
        </div>
    {% endif %}

{% endblock %}
