{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions
        </h3>
        <p>
            In this task, you will interact in a group of {{ Constants.players_per_group }} participants.
            Each participant will be identified using the letters A, B, and C. You will retain this identifier
            for the whole experiment.
        </p>
        <p>
            You may now receive some information about the membership of your group, based on the 
            responses we collected in the initial survey.
        </p>
    </div>
</div>