{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h3>
            Instructions (continued)
        </h3>
        {% if session.config.deterrence %}
        <p>
            After A and B have made their decisions, participant A will be informed of the outcome in Task 1
            before commencing Task 2. Participants B and C will not learn the outcome until the end of the entire Task.
        </p>
        {% else %}
        <p>
            Note that nobody will learn the outcome of each task until the end of the 
            experiment.
        </p>
        {% endif %}
    </div>
</div>