{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 2 - Instructions
        </h3>
        <p>
            You will now be presented with each of the statements you accepted in the preceding part of this task.
        </p>
        <p>
            For each statement, you will be asked whether you are willing to accept the opposite statement, in
            exchange for an amount of money between $1 and $50.
        </p>
        <p>
            For example: If you are willing to accept the opposite statement for $35 or more, but not for any
            lesser amount, you would enter $35.
        </p>
        <p>
            If you do not wish to change your statement for any amount in that range, type “out”.
        </p>
        <p>
            After all your bids are entered, we will select one of the 62 pairs at random. and
            generate a random number between 1–50.
        </p>
        <p>
            If the number generated is greater than or equal to your lowest acceptable amount
            for that statement, we will pay you the randomly generated number (in dollars) in
            exchange for changing your statement.
        </p>
        <p>
            If the number is less than your minimum amount, or if you opted out, we will pay
            you nothing, and your statement will be unchanged.
        </p>
        <p>
            So for example: if we roll 33, and you nominated 30, we will pay you $33 to
            accept the opposite statement. If we roll 24, the number will be below your
            nominated price, so you will be paid nothing, and you won’t change which
            statement you accept.
        </p>
        <p>
            At the end of the Task, we will and ask you to sign a printed copy of the statement
            you have accepted.
        </p>
    </div>
</div>
