{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>
            Task 4 - Instructions
        </h3>
        <p>
            In this task, you will interact with one other person in the
            room, chosen at random. The person you are interacting with
            is definitely NOT someone you have interacted with in any
            previous task.
        </p>
        <p>
            You will have the same interaction as in Task 1 (instructions
            will be shown at the bottom of each page, as before), and you will play the same
            role as you had last time (challenger or responder).
        </p>
        <p>
            Before the interaction occurs, there is one important difference:
            each person in the interaction may first receive some
            information about the other person’s responses in <b>Task 3</b>.
        </p>
        <p>
            On the next page is a list of {{Constants.s_total}} of your statements from Part A, together
            with the prices you named in Part B for switching those statements.
        </p>
        <p>
            We will use a random process to determine which of these
            answers will be revealed to your interaction partner.
        </p>
        <p>
            First indicate by selecting all answers that you would prefer to
            <b>conceal</b> from your interaction partner, if you could select as
            many as you wish.
        </p>
        <p>
            Rank them in order from <i>most wish to conceal (number 1)</i> to <i>least wish to
            conceal (number {{Constants.s_total}})</i>. If you definitely want to reveal an answer, then do not
            rank it at all.
        </p>
        <p>
            You do not need to nominate any answers to be concealed. But note that any answer you do
            not rank will definitely be revealed.
        </p>
        <p>
            You have four minutes to complete the ranking of items. If you do not complete the ranking in this
            period, <i>all</i> your statements will be revealed to your interaction partner.
        </p>

    </div>
</div>
