{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
  Bonus Questions
{{ endblock }}

{{ block content }}
  {{ include "components/Header.html" }}
  {{ include "components/CalculateModal.html" }}

  <br>

  {{ include "components/belief_questions/A.html" }}

  {{ next_button }}
{{ endblock }}

{{ block scripts }}
  <script>
    function handle_enter(event) {
      if (event.keyCode == 13 || event.which == 13) return false;
    }

    function handleCalculate(field) {
      const deductECU = parseFloat($("#" + field).val());
      const validInput = setModalContents(deductECU);

      if (validInput) {
        const name = field.replace("_field", "");

        $('input[name ="' + name + '"]').val(deductECU);
      }
    }
  </script>
{{ endblock }}
