{{ extends "global/Page.html" }}
{{ load otree static }}

{{ block title }}
  {{ if subsession.round_number == 1 }}
    Task 1 Feedback
  {{ else }}
    Feedback for both tasks
  {{ endif }}
{{ endblock }}

{{ block content }}
  {{ include "components/Header.html" }}

  {{ if subsession.round_number == 1 }}
    {{ if player.role == "A" and session.config.deterrence }}
      {{ with results=round1 }}
        {{ include "components/FeedbackResults.html" }}
      {{ endwith }}
    {{ else }}
      <p>
        You will receive feedback on the outcome of Task 1 at the end of the
        experiment
      </p>
    {{ endif }}
  {{ else }}
    <h4>Task 1</h4>

    {{ with results=round1 }}
      {{ include "components/FeedbackResults.html" }}
    {{ endwith }}

    <h4>Task 2</h4>

    {{ if round2.receiving_info }}
      {{ with results=round2 }}
        {{ include "components/FeedbackResults.html" }}
      {{ endwith }}
    {{ else }}
      <p>Your earnings from Task 2 are {{ player.final_payoff|json }} ECU.</p>
    {{ endif }}

    <h4>Payment</h4>
    <p>
      Only one of these two tasks will be chosen randomly for payment. You
      will be informed which one is chosen at the end of the experiment.
    </p>
  {{ endif }}

  {{ next_button }}
{{ endblock }}
