{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

    <p>
        Thank you for coming today. You are taking part in an economic experiment in which you
        can earn money. You will receive your earnings in private at the end of the session today.
        Please read the following instructions carefully.
    </p>

    <p>
        <b>Talking is not permitted during the experiment.</b> Failure to comply will result in exclusion
        from the experiment and the loss of all earnings. If you have any questions, please address
        them to us: raise your hand and an experimenter will come to you.
    </p>

{% endblock %}